body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 1px;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 1024px) {
  .app {
    max-width: 1024px;
    width: 40vw;
    margin: auto;
  }
}

.logo {
  max-height: 10vh;
  max-width: 20vw;

  position: absolute;
  z-index: 100;
  right: 0;
}


.station-section {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.station-name {
  font-size: 4vh;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.station-title, .station-body {
  text-align: left;
}

.station-section:nth-child(even) .station-title {
  text-align: right;
  }

  .station-section:nth-child(odd) .station-body {
    text-align: right;
    }

.departures {
  align-self: flex-end;
}

.departure-info {
  font-size: 14px;
  margin: 5px 0;
}