@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0.8rem;
  overflow-x: hidden;
  box-sizing: border-box;
}

.app-header {
  max-height: 20vh;

  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: hidden;

  margin: 5px 0;
}


.app-main {
  min-height: 100hv;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: 7px 0;
}

.transport-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  /* This adds space between the buttons */
}

.transport-button {
  padding: 0.35rem 0.9rem;
  font-family: 'Bebas Neue', sans-serif;
  /* Match the font with the rest of the app */
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #adaeaf;
  color: white;

}

.transport-button.active {
  background-color: black;
  color: white;
}

.transport-button:hover {
  opacity: 0.9;
}


.station-section {
  margin: 15px 0;
  opacity: 0.25;
  transition: opacity 0.3s ease;
}

.station-section.open {
  opacity: 1;
}

.station-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0, 25rem;
  /* line to reduce space */
}

.station-name {
  font-size: 24px;
  margin: 0;
}

.walking-time {
  font-size: 18px;
}

.station-services {
  font-size: 16px;
  margin-top: 0, 25rem;
  /* Add this block to reduce space above services */
}

.update-time {
  cursor: pointer;
  user-select: none;
}

.error {
  color: rgb(255, 123, 0);
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-baseline {
  align-items: baseline;
}

label:has(input[type='checkbox']) {
  white-space: nowrap;
}

.search-input {
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Bebas Neue', sans-serif;
}

.departures {
  margin-top: 10px;
}

.departures-container {
  margin-top: 2px;
  max-height: calc(6 * (1.2em + 3px));
  overflow-y: auto;
}

.departure-info {
  font-size: 16px;
  margin: 0;
}

.departure-info:not(:last-child) {
  margin-bottom: 2px;
}

.departures-extended {
  margin-top: 0px;
  padding-top: 0px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

/* Add a subtle scrollbar style */
.departures-container::-webkit-scrollbar {
  width: 8px;
}

.departures-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.departures-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.departures-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.kofi-button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  color: black;
  text-align: right;
  display: block;
}

.coffee-icon {
  margin-left: 8px;
}

.show-kofi {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.kofi-container {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.kofi-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.app-footer {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .app-container {
    padding: 20px;
  }

  .station-name {
    font-size: 28px;
  }

  .walking-time {
    font-size: 20px;
  }

  .station-services {
    font-size: 18px;
  }

  .departure-info {
    font-size: 18px;
  }

  .departures-container {
    max-height: calc(6 * (1.2em + 5px));
  }
}


.text-xs {
  font-size: 60%;
}

.text-s {
  font-size: 75%;
}

.text-sm {
  font-size: 85%;
}

.position-relative {
  position: relative;
  width: 100%;
  height: 0;
}

.float-end {
  position: relative;
  float: right;
}

.cursor-click,
.cursor-pointer {
  cursor: pointer;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-5 {
  margin-left: 5em;
}