@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  background-color: white;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin: 0 0 20px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 20px 0;
  margin-top: 5px;
}

.transport-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  /* This adds space between the buttons */
}

.transport-button {
  padding: 0.5rem 1rem;
  font-family: 'Bebas Neue', sans-serif;
  /* Match the font with the rest of the app */
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #adaeaf;
  color: white;

}

.transport-button.active {
  background-color: black;
  color: white;
}

.transport-button:hover {
  opacity: 0.9;
}


.station-section {
  margin-bottom: 20px;
  opacity: 0.25;
  transition: opacity 0.3s ease;
}

.station-section.open {
  opacity: 1;
}

.station-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0, 25rem;
  /* line to reduce space */
}

.station-name {
  font-size: 24px;
  margin: 0;
}

.walking-time {
  font-size: 18px;
}

.station-services {
  font-size: 16px;
  margin-top: 0, 25rem;
  /* Add this block to reduce space above services */
}

.departures {
  margin-top: 20px;
}

.departure-info {
  font-size: 16px;
  margin: 5px 0;
}

.update-time {
  cursor: pointer;
  user-select: none;
}

.error {
  color: red;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-baseline {
  align-items: baseline;
}

label:has(input[type='checkbox']) {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .app {
    padding: 40px;
  }

  .station-name {
    font-size: 28px;
  }

  .walking-time {
    font-size: 20px;
  }

  .station-services {
    font-size: 18px;
  }

  .departure-info {
    font-size: 18px;
  }
}